<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</head>
<body>
<form>
	<div>
	    <input type="radio" id="contactChoice1"
	     name="contact" value="admin">
	    <label for="contactChoice1">ADMIN</label>

	    <input type="radio" id="contactChoice2"
	     name="contact" value="mla">
	    <label for="contactChoice2">MLA</label>

	    <input type="radio" id="contactChoice3"
	     name="contact" value="mp">
	    <label for="contactChoice3">MP</label>

	    <input type="radio" id="contactChoice4"
	     name="contact" value="user">
	    <label for="contactChoice3">USER</label>
    </div>
 
	<input type="text" name="username" required="text" placeholder="username">
	<input type="password" name="password" required="text" placeholder="password">
	<button>submit</button>
	
</form>
</body>
</html>