<!DOCTYPE html>
<html>
<head>
	<title>Registration form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 

</head>
<body>

	<div class="card border-success mb-3 offset-md-4  mt-5" style="max-width: 35rem;">
  <div class="card-header bg-primary border-success" style="text-align:center;">Signin</div>
  <div class="card-body text-success" style="background-color: lightpink">
    <center>{{data}}</center>
    <form style="width: 500px" method="POST" action="{{url_for('login')}}">
      <center><div class="form-group">
      <input type="radio" id="contactChoice1" name="contact" value="admin" required="true">
      <label for="contactChoice1">ADMIN</label>

      <input type="radio" id="contactChoice2" name="contact" value="mla" required="true">
      <label for="contactChoice2">MLA</label>

      <input type="radio" id="contactChoice3" name="contact" value="mp" required="true">
      <label for="contactChoice3">MP</label>

      <input type="radio" id="contactChoice4" name="contact" value="user" required="true">
      <label for="contactChoice3">USER</label>
    </div></center>
  	 <div class="form-group">	
  		   		<label for="exampleInputEmail1">User name</label>
      			<input type="text" class="form-control" placeholder="User name" name="UserName" required="UserName">

      			<label for="exampleInputEmail1">Password</label>
      			<input type="Password" class="form-control" placeholder="Password" name="Password" required="Password">
      		
      				
 			</div>	
      <button type="submit" class="btn btn-success">signin</button>
	</form>
  </div>
  <div class="card-footer bg-primary border-success" style="text-align: center;"></div>
</div>
<center><h3>Not Registered?<a href="{{url_for('register')}}">create an account</a></center>
</body>
</html>