<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
  <style type="text/css">
  	table tr td{
  		padding: 10px;
  	}
  	h2{
  		background-color: #999966
  	}
  </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-top: 1px;padding-bottom: 1px">
	  <a class="navbar-brand" href="#"><img src="static/PNG.png" style="width: 70px; height: 50px">   Bitcoin Price </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item ">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link" href="/data">Data</a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link" href="/traindata">TrainData</a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link" href="/testdata">TestData</a>
	      </li>
	      <li class="nav-item active">
	      	<a class="nav-link" href="/dataanalysis">DataAnalysis</a>
	      </li>
	      <li class="nav-item">
	      	<a class="nav-link" href="/prediction">Prediction</a>
	      </li>
	    </ul>
	    <span class="navbar-text">
	      <a href="/logout">logout</a>
	    </span>
	  </div>
	</nav>
	<center>
	<div style="margin-top: 30px">
		
        <div>
        	<h2>Bitcoin Price Days wise</h2>
        	<img src="static/img1.png">
        </div>
         <div>
        	<h2>Bitcoin Price Seasonal wise</h2>
        	<img src="static/img6.png">
        	<img src="static/img2.png">
        </div>
         <div>
        	<h2>Bitcoin Price Initial approximation of parameters using Autocorrelation and Partial Autocorrelation Plots</h2>
        	<img src="static/img3.png">
        </div>
         <div>
        	<h2>Bitcoin Price Decomposition wise</h2>
        	<img src="static/img4.png">
        </div>
    </div></center>
	

</body>
</html>