<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body >
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SmartFirewall</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      </ul>
    <span class="navbar-text">
      <a href="{{url_for('login')}}">signin</a>
    </span>
  </div>
</nav>
<div class="container">
	<b>What Is a Firewall?</b><br>
First of all, let’s look at what a firewall actually is. You need to understand that there are no flames, no spark, no fuel of any kind involved, whatsoever.

A firewall is a barrier or shield that is intended to protect your PC, tablet, or phone from the data-based malware dangers that exist on the Internet. Data is exchanged between your computer and servers and routers in cyberspace, and firewalls monitor this data (sent in packets) to check whether they’re safe or not.

This is done by establishing whether the packets meet the rules that have been set up. Based on these rules, packets of data are accepted, or rejected.

<p>
	<b>1. A Firewall Protects Your Computer From Unauthorized Remote Access</b><br>
One of the worst things that could happen to your computer is if someone attempts to take control remotely. Seeing the mouse move around on your monitor as a remote intruder usurps your digital kingdom, assuming control of your data, is petrifying.

With a correctly configured firewall (and a modern OS) you should have remote desktop access disabled, thus preventing hackers from taking over your computer.

Note, however, that this does not block the remote control apps used by the Windows tech support scammers. These are browser-based, and as your browser already has permission to route data through the firewall, you’ll continue to be susceptible to this particular risk, so remain vigilant!
</p>
<p>
	<b>2. Firewalls Can Block Messages Linking to Unwanted Content</b><br>
Yes, there are still people out there running Windows XP. Worse, some of them are using XP without a firewall, and the built-in firewall is not — wait for it — enabled by default.
</p>
<p>
	<b>3. Firewalls Make Online Gaming Safer</b><br>
Online gaming is one of the most significant developments in the history of video games, but it is also a potential security risk. Various malware has been developed that targets online gamers, existing on unsecured or recently compromised game servers.
</p>
<p>
	<b>4. You Can Block Unsuitable or Immoral Content With a Firewall</b><br>
We’ve been talking mainly about blocking hackers and various types of remote access malware so far, but firewalls are capable of more than this. As well as protecting personal directories from ransomware, firewall applications might also feature the option to block particular online locations.
</p>
<p>
	<b>5. Firewalls Can Be Hardware or Software</b><br>
As alluded to above, firewalls don’t necessarily have to be software. Hardware firewalls are found in most homes, built into the router. Accessing these firewalls is possible by using the administrator credentials for the router (make sure you’ve changed the default password), and once you’ve signed in you should be able to review the options and change them if necessary.
</p>
<img src="static/img1.jpg">
</div>
</body>
</html>