<!DOCTYPE html>
<html>
<head>
	<title>Blood donation</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/static/images.png" style="width: 100px;height: 30px"> Road accident analysis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/train">train</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/test">test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/analysis">analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/featureanalysis">featureanalysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prediction">prediction</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="/logout">Logout</a>
    </span>
  </div>
</nav>
<div>
	<div class="row">
		<div class='col-7' style="padding-top: 100px"><center>
			<h3 style="color: red">Blood doners in india</h3>
			<img src="static/blood.gif"></center>
		</div>
		<div class='col-5'>
			<div class="card"><img src="static/s1.gif"></div>
		</div>
	</div>
	<center><h2 style="background-color: blue; color: white">Blood donation analysis in india based on blood doners</h2></center>
	<div class="card">
		<img src="static/download.png">
	</div>

</div>
</body>
</html>