<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
<style type="text/css">
body  {
  background-image: url("static/bb.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
</style>
</head>
<body>
<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-top: 1px;padding-bottom: 1px">
  <a class="navbar-brand" href="#"><img src="static/house.png" style="width: 70px; height: 50px">   House price </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/analysis">Analysis</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="{{url_for('index')}}">logout</a>
    </span>
  </div>
</nav>
<div>
<center>
	<form action="/home" method="POST">
	<table >
		<tr ><h2 style="background-color: #c68c53">Dream House</h2></tr>
		<tr>
			<td><label>BedRooms</label></td>
			<td><input type="number" name="BedRooms"></td>
		</tr>
		<tr>
			<td><label>BathRooms</label></td>
			<td><input type="number" name="BathRooms"></td>
		</tr>
		<tr>
			<td><label>Square feet Living</label></td>
			<td><input type="number" name="Squarefeet"></td>
		</tr>
		<tr>
			<td><label>Square Lot area</label></td>
			<td><input type="number" name="SquareLot"></td>
		</tr>
		<tr>
			<td><label>Floors</label></td>
			<td><input type="number" name="Floors"></td>
		</tr>
		<tr>
			<td><label>WaterFronts</label></td>
			<td><input type="number" name="WaterFronts"></td>
		</tr>
		<tr>
			<td><label>Swimming Pool</label></td>
			<td><input type="number" name="SwimmingPool"></td>
		</tr>
		<tr>
			<td><label>Grade</label></td>
			<td><select name="Grade">
				<option>a+</option>
				<option>a</option>
				<option>b</option>
			</select></td>
		</tr>
		<tr>
			<td><label>Square Feet Above</label></td>
			<td><input type="number" name="SquareFeetAbove"></td>
		</tr>
		<tr>
			<td><label>Square Feet Basement</label></td>
			<td><input type="number" name="SquareFeetBasement"></td>
		</tr>
	</table>
	<button>submit</button>
</form></center></div>
</div>
</body>
</html>