<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		body{
       background-image: url("static/b.jpg");
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 500px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; 
    }
	</style>
</head>
<body class="container-fluid" >
  <div >
	{% extends 'layout.html' %}
{% block content %}
<div style="margin-top: 20px">
  <center>
<div class="row">
  <div class="col-sm-12">
    <form action="{{url_for('plots')}}" method="POST">
      <select name = 'Road_Accident'>
        <option value="Age">Age</option>
        <option value="Season">Season</option>
        <option value="Time">Time</option>
        <option value="Year_Wise_State_Acci">Year_Wise_State_Acci</option>
        <option value='State_Wise_Ages_Acci'>State_Wise_Ages_Acci</option>
      </select>
      <button>submit</button>
    </form>
  </div>
<!-- <div class="col-sm-5">
	<div class="row" style='overflow-x:scroll;overflow-y:scroll;height:400px'>
    {% block body %}
    {{ data|safe }}
    {% endblock %}  
  </div>
  <div class="card">
  <img src="#" style="height:400px">
  </div>
</div> -->
</div>
</center>
</div>

<div>
  <img src="static/11.gif" class="w-100">
</div>
{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

